* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(
    to right,
     #ff512f 0%,
     #dd2476 51%,
     #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
}

.nav__item:hover {
    border: 2px solid #FF6767;
    cursor: pointer;
}

.container {
    padding: 20px 20px;
    max-width: 100%;
    margin: 0 auto;
}

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0 0 0 / 25%);
}

.hero__text {
    font-size: 30px;
    font-weight: 800;
    margin: 20px 0;
    color: #1d3557;
}

.food__card {
    background-color: #f9f9f9;
}

.food__card__description {
   padding: 15px;
}

.food__card__image__container {
    width: 100;
}

.food__image {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.explore__menu__text {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 30px; 
    font-weight: 800;
    color: #1d3557;
}


@media (min-width: 768px) {
     .navbar {
         justify-content: space-between;
         padding: 10px 30px;
     }

     .hero__container {
         display: flex;
         flex-direction: row-reverse;
         align-items: center;
         margin-top: 20px;
     }

     .explore__menu__lists {
         display: flex;
         gap: 15px;
         margin-top: 45px;
         padding:0 30px ;
     }

     #pizza__card {
         margin-top: -20px;
         margin-bottom: 20px;
     }

     .explore__menu__container {
         position: relative;
     }

     .explore__menu__gradient__bg {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background-image: linear-gradient(
    to right,
     #ff512f 0%,
     #dd2476 51%,
     #ff512f 100%
         );
         z-index: -3;
         transform: skewY(-5deg);
     }

}

@media (min-width: 1024px) {
    .navbar__brand {
        width: 150px;
    }

    .nav__item {
        padding: 20px;
        font-size: 20px;
        font-weight: 600;
    }

    .container {
        max-width: 70%;
    }

    .hero__description {
        width: 100%;
    }

    .hero__text {
        font-size: 50px;
        font-weight: bolder;
    }

    .explore__menu__lists {
        display: flex;
        gap: 25px;
        margin-top: 45px;
    }

    .explore__menu__text {
        font-size: 48px;
    }
}